<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.title }}</title>
    <link rel="stylesheet" href="../static/css/event.css">
</head>
<body>
    <header>
        <h1>{{ event.title }}</h1>
    </header>
    <main>
        <img src="{{ url_for('static', 
        filename=event.image_filepath.replace('app\\static\\', '').replace('\\', '/')) }}" 
        alt="{{ event.title }}" class="event-image">
        <div class="event-details">
            <div class="date-location">
                <!--<span class="date">{{ event.date }}</span>-->
                <!--<span class="location">{{ event.location }}</span>-->
            </div>

            <h2>About the Event</h2>
            <p>{{ event.description }}</p>
            <!--<h3>Highlights:</h3>-->
            <!--<p>{{ event.call_to_action }}</p>-->
            <a href="" class="cta-button">Buy Tickets</a>
        </div>
    </main>
</body>
</html>