<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event 1 Article</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mainpage.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logos">
                <a href="#"><img class="logo_img" src="../static/images/logo.png" alt="error img"></a>
                <a href="#" class="logo_text">Eventer</a>
            </div>
            <div class="cities">
                <a href="#"><img class="city_icon" src="../static/images/city.png" alt="rooro"></a>
                <a href="#"><p>Cities</p></a>
            </div>
            <div class="menu">
                <img id="menu__opener" onclick="menuDictating()" class="hamburger_menu" src="../static/images/hamburger_menu.png" alt="error img">
                <img id="menu__closer" onclick="menuDictating()" class="x_button" src="../static/images/close.png" alt="error img">
            </div>
        </nav>
    </header>
    <main>
        <article>
            <h2>Event 1: Title</h2>
            <p>Date: June 10, 2024</p>
            <p>Description of the event goes here. You can include any details about the event, photos, and other relevant information.</p>
        </article>
        
    </main>
</body>
</html>
