<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Spune-ne cum te putem ajuta</title>
    <link rel="icon" href="../static/images/logo.png"/>
    <link rel="stylesheet" href="../static/css/contact.css">
    <link rel="stylesheet" href="../static/css/navigation.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="group_nav">
                <div class="menu_activation">
                    <img onclick="iconChanger(); handleMenuToggle();" id="open" class="burger" src="../static/images/hamburger_menu.png" alt="ftlp">
                    <img onclick="iconChanger(); handleMenuToggle();" id="close" class="close" src="../static/images/close.png" alt="ftlp">
                </div>
                <div class="logos">
                    <a href="/"><img class="logo_img" src="../static/images/logo.png" alt="error img"></a>
                    <a href="/" class="logo_text">Eventer</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <sidenav id="side__nav" class="side_nav">
            <a href="#" class="sidebar_elem">
                <img src="../static/images/house2.png" alt="ftlp">
                <p>Home</p>
            </a>
            <a href="/post_event" class="post_event sidebar_elem">
                <img src="../static/images/create_event.png" alt="ftlp">
                <p>Post</p>
            </a>
            <a href="/account" class="sidebar_elem">
                <img src="../static/images/account.png" alt="ftlp">
                <p>Account</p>
            </a>
            <a href="/contact" class="sidebar_elem">
                <img src="../static/images/phone.png" alt="ftlp">
                <p>Contact</p>
            </a>
        </sidenav>
        <div id="content" class="main_content">
            <div class="greetings">
                <img src="../static/images/hand.png" alt="idlp">
                <h2>Bine ai venit pe Eventer.</h1>
                <p>Ne bucurăm să te avem aici!</p>
                <p>Pe pagina aceasta vei găsi cele mai importante informații pentru a începe să folosești
                    Eventer. Dacă întâmpini dificultăți vreodată, sau doar dorești să ne transmiți ceva, nu ezita să
                    iei legătura cu noi. 
                </p>
            </div>
            <div class="help_buttons">
                <div class="email">
                    <div class="mail_paragraphs">
                        <a href="#"><h4>Contacteaza-ne prin email</h4></a>
                        <p>Cere ajutorul sau lasă o recenzie</p>
                    </div>
                    <a href="mailto:the_email">
                    <img src="../static/images/mail-64.png" alt="ftli">
                    </a>
                </div>
                <div class="the_mail_displayed">
                    <h3><a href="mailto:the_email">contact@eventer.ro</a></h2>
                </div>
            </div>
            <section class="questions">
                <h2>Întrebări primite frecvent</h2>

                <div class="faq">
                    <div class="question">
                        <h3>Cum pot adăuga un eveniment ?</h3>

                        <img src="../static/images/dropdown arrow.png" alt="ftli">
                    </div>
                    <div class="answer">
                        <p>Pentru a adăuga un eveniment, tot ce trebuie să faci este să 
                            apeși butonul de <span style="color: yellow;">Posteaza</span>
                            din partea stângă a ecranului, mai exact din meniul de navigare
                            în cazul în care ești pe telefon. De acolo procesul este
                            foarte intuitiv :) 
                        </p>
                    </div>
                </div>

                <div class="faq">
                    <div class="question">
                        <h3>Cum pot să îmi creez un cont ?</h3>

                        <img src="../static/images/dropdown arrow.png" alt="ftli">
                    </div>
                    <div class="answer">
                        <p>Pentru a-ți crea un cont, va trebui să accesezi butonul
                            <span style="color: yellow;">Cont</span> din meniul 
                            de navigare, iar mai apoi să completezi tabelul cu niște date 
                            pentru a finaliza procesul.
                        </p>
                    </div>
                </div>

                <div class="faq">
                    <div class="question">
                        <h3>Cine stă în spatele Eventer ?</h3>

                        <img src="../static/images/dropdown arrow.png" alt="ftli">
                    </div>
                    <div class="answer">
                        <p>Un tânăr fizician stătea o data într-un bar și se gândea
                            ce să facă. Acesta a încercat să caute niște evenimente
                            pe internet, însă nu a fost mulțumit de rezultatele căutării, 
                            ele fiind foarte prost prezentate. Tânărul s-a gândit să
                            ia această problemă în propriile mâini și să creeze o platformă
                            unde oricine va avea acces la evenimente. În ajutorul lui a sărit
                            un alchimist celebru. Astfel <span style="color: yellow;">Profesorul Saladin</span> 
                            împreună cu <span style="color: yellow;">Don Quixote</span>
                            au creat această minunată platformă.
                        </p>
                    </div>
                </div>
                <div class="faq">
                    <div class="question">
                        <h3>Cum pot adăuga un eveniment ?</h3>

                        <img src="../static/images/dropdown arrow.png" alt="ftli">
                    </div>
                    <div class="answer">
                        <p>Pentru a adăuga un eveniment, tot ce trebuie să faci este să 
                            apeși butonul de <span style="color: yellow;">Posteaza</span>
                            din partea stângă a ecranului, mai exact din meniul de navigare
                            în cazul în care ești pe telefon. De acolo procesul este
                            foarte intuitiv :) 
                        </p>
                    </div>
                </div>

                <div class="faq">
                    <div class="question">
                        <h3>Cum pot să îmi creez un cont ?</h3>

                        <img src="../static/images/dropdown arrow.png" alt="ftli">
                    </div>
                    <div class="answer">
                        <p>Pentru a-ți crea un cont, va trebui să accesezi butonul
                            <span style="color: yellow;">Cont</span> din meniul 
                            de navigare, iar mai apoi să completezi tabelul cu niște date 
                            pentru a finaliza procesul.
                        </p>
                    </div>
                </div>

                <div class="faq">
                    <div class="question">
                        <h3>Cine stă în spatele Eventer ?</h3>

                        <img src="../static/images/dropdown arrow.png" alt="ftli">
                    </div>
                    <div class="answer">
                        <p>Un tânăr fizician stătea o data într-un bar și se gândea
                            ce să facă. Acesta a încercat să caute niște evenimente
                            pe internet, însă nu a fost mulțumit de rezultatele căutării, 
                            ele fiind foarte prost prezentate. Tânărul s-a gândit să
                            ia această problemă în propriile mâini și să creeze o platformă
                            unde oricine va avea acces la evenimente. În ajutorul lui a sărit
                            un alchimist celebru. Astfel <span style="color: yellow;">Profesorul Saladin</span> 
                            împreună cu <span style="color: yellow;">Don Quixote</span>
                            au creat această minunată platformă.
                        </p>
                    </div>
                </div>
                <div class="faq">
                    <div class="question">
                        <h3>Cum pot adăuga un eveniment ?</h3>

                        <img src="../static/images/dropdown arrow.png" alt="ftli">
                    </div>
                    <div class="answer">
                        <p>Pentru a adăuga un eveniment, tot ce trebuie să faci este să 
                            apeși butonul de <span style="color: yellow;">Posteaza</span>
                            din partea stângă a ecranului, mai exact din meniul de navigare
                            în cazul în care ești pe telefon. De acolo procesul este
                            foarte intuitiv :) 
                        </p>
                    </div>
                </div>

                <div class="faq">
                    <div class="question">
                        <h3>Cum pot să îmi creez un cont ?</h3>

                        <img src="../static/images/dropdown arrow.png" alt="ftli">
                    </div>
                    <div class="answer">
                        <p>Pentru a-ți crea un cont, va trebui să accesezi butonul
                            <span style="color: yellow;">Cont</span> din meniul 
                            de navigare, iar mai apoi să completezi tabelul cu niște date 
                            pentru a finaliza procesul.
                        </p>
                    </div>
                </div>
            </section>
        </div> 
    </main>
    <section class="newsletter">

    </section>
    <footer>
        <nav>
        <p>&copy; 2024 Eventer. All rights reserved.</p>
        <a href="#">Privacy Policy</a> | 
        <a href="#">Terms of Service</a> | 
        <a href="#">Contact Us</a>
        </nav>
    </footer>
    <script src="../static/js/navbar.js"></script>
    <script src="../static/js/contact.js"></script>
</body>
</html>