<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Home Page</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Our Events Page</h1>
    </header>
    <main>
        <article id="events">
            <div class="event1" data-article="{{ url_for('event1') }}">
                <h2>Event 1</h2>
                <p>Date: June 10, 2024</p>
                <p>Description of the event goes here. You can include any details about the event, photos, and other relevant information.</p>
            </div>
        </article>
    </main>
    <script src="../static/js/scripts.js"></script>
</body>
</html>