<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Home Page</title>
    <link rel="stylesheet" href="../static/css/styling.css">
</head>
<body>
    <div id="menu__body" class="menu__active">
        <p>aa</p>
        <p>bb</p>
        <p>cc</p>
        <p>dd</p>
    </div>
    <header>
        <nav class="navbar">
            <a href="#"><img class="logo" src="../static/images/logo.png" alt="error img"></a>
            <div class="menu_buttons">
                <img id="menu__opener" onclick="menuDictating()" class="hamburger_menu" src="../static/images/hamburger_menu.png" alt="error img">
                <img id="menu__closer" onclick="menuDictating()" class="x_button" src="../static/images/close.png" alt="error img">
            </div>
        </nav>
        <div class="hero_sec">
            Check out the most interesting events that will take place in Timisoara!
        </div>
    </header>
    <main>
        <section id="events">
                <article class="event-card" data-article="{{ url_for('event1') }}">
                    <img src="{{ url_for('static', filename='images/event1.jpeg') }}" alt="Event 1 Image">
                    <h2>Event 1</h2>
                    <p>Date: June 10, 2024</p>
                    <p>Description of the event goes here. You can include any details about the event, photos, and other relevant information.</p>
                </article>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Eventer. All rights reserved.</p>
        <nav>
            <a href="#">Privacy Policy</a> | 
            <a href="#">Terms of Service</a> | 
            <a href="#">Contact Us</a>
        </nav>
    </footer>
    <script src="../static/js/scripts.js"></script>
</body>
</html>