<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Home Page</title>
    <link rel="stylesheet" href="../static/css/styling.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="#"><img src="../static/images/logo.png" alt="error img"></a>
                <a href="#"><img src="" alt="error img"></a>
            </div>
        </nav>
        <div class="hero__sec">
            Here you can see the best events in Timisoara!
        </div>
    </header>
    <main>
        <section id="events">
                <article class="event-card" data-article="{{ url_for('event1') }}">
                    <img src="{{ url_for('static', filename='images/event1.jpeg') }}" alt="Event 1 Image">
                    <h2>Event 1</h2>
                    <p>Date: June 10, 2024</p>
                    <p>Description of the event goes here. You can include any details about the event, photos, and other relevant information.</p>
                </article>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Eventer. All rights reserved.</p>
        <nav>
            <a href="#">Privacy Policy</a> | 
            <a href="#">Terms of Service</a> | 
            <a href="#">Contact Us</a>
        </nav>
    </footer>
    <script src="../static/js/scripts.js"></script>
</body>
</html>